[submodule "vim/bundle/nerd_commenter"]
  path = vim/bundle/nerd_commenter
  url = https://github.com/scrooloose/nerdcommenter.git
  ignore = dirty
[submodule "vim/bundle/ack"]
  path = vim/bundle/ack
  url = https://github.com/mileszs/ack.vim.git
  ignore = dirty
[submodule "vim/bundle/command-t"]
  path = vim/bundle/command-t
  url = https://github.com/wincent/Command-T.git
  ignore = dirty
[submodule "vim/bundle/endwise"]
  path = vim/bundle/endwise
  url = https://github.com/tpope/vim-endwise.git
  ignore = dirty
[submodule "vim/bundle/fugitive"]
  path = vim/bundle/fugitive
  url = git://github.com/tpope/vim-fugitive.git
  ignore = dirty
[submodule "vim/bundle/gundo"]
  path = vim/bundle/gundo
  url = http://github.com/sjl/gundo.vim.git
  ignore = dirty
[submodule "vim/bundle/lusty"]
  path = vim/bundle/lusty
  url = https://github.com/sjbach/lusty.git
  ignore = dirty
[submodule "vim/bundle/solarized"]
  path = vim/bundle/solarized
  url = git://github.com/altercation/vim-colors-solarized.git
  ignore = dirty
[submodule "vim/bundle/ragtag"]
  path = vim/bundle/ragtag
  url = https://github.com/tpope/vim-ragtag.git
  ignore = dirty
[submodule "vim/bundle/rails"]
  path = vim/bundle/rails
  url = https://github.com/tpope/vim-rails.git
  ignore = dirty
[submodule "vim/bundle/surround"]
  path = vim/bundle/surround
  url = https://github.com/tpope/vim-surround.git
  ignore = dirty
[submodule "vim-unimpaired"]
  path = vim-unimpaired
  url = https://github.com/tpope/vim-unimpaired.git
  ignore = dirty
[submodule "vim/bundle/unimpaired"]
  path = vim/bundle/unimpaired
  url = https://github.com/tpope/vim-unimpaired.git
  ignore = dirty
[submodule "vim/bundle/nerdtree"]
  path = vim/bundle/nerdtree
  url = https://github.com/scrooloose/nerdtree.git
  ignore = dirty
[submodule "vim/snippets"]
  path = vim/snippets
  url = https://github.com/mikefarmer/snipmate-snippets.git
  ignore = dirty
[submodule "vim/bundle/vim-markdown"]
  path = vim/bundle/vim-markdown
  url = https://github.com/tpope/vim-markdown.git
  ignore = dirty
[submodule "vim/bundle/vim-autoclose"]
	path = vim/bundle/vim-autoclose
	url = https://github.com/mikefarmer/vim-autoclose.git
  ignore = dirty
[submodule "vim/bundle/vim-powerline"]
	path = vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
  ignore = dirty
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
  ignore = dirty
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim/bundle/vim-textobj-user"]
	path = vim/bundle/vim-textobj-user
	url = http://github.com/kana/vim-textobj-user
[submodule "vim/bundle/vim-textobj-rubyblock"]
	path = vim/bundle/vim-textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/seoul245.vim"]
	path = vim/bundle/seoul245.vim
	url = https://github.com/junegunn/seoul256.vim.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim/bundle/vim-slim"]
	path = vim/bundle/vim-slim
	url = git://github.com/slim-template/vim-slim.git
[submodule "vim/bundle/vim-ansible-yaml"]
	path = vim/bundle/vim-ansible-yaml
	url = git://github.com/chase/vim-ansible-yaml.git
[submodule "vim/bundle/vim-mustache-handlebars"]
	path = vim/bundle/vim-mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/vim-elixir"]
	path = vim/bundle/vim-elixir
	url = git@github.com:elixir-lang/vim-elixir.git
